@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Phone</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var inst in ViewBag.Students)
        {
            <tr>
                <td>@inst.StudentId</td>
                <td>@inst.FirstName</td>
                <td>@inst.LastName</td>
                <td>@inst.Email</td>
                <td>@inst.Phone</td>
            </tr>
        }
    </tbody>
</table>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
    }

    * {
        box-sizing: border-box;
    }

    
    .container {
        padding: 16px;
        background-color: white;
    }

    
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

   
    .registerbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

        .registerbtn:hover {
            opacity: 1;
        }

    
    a {
        color: dodgerblue;
    }

   
    .signin {
        background-color: #f1f1f1;
        text-align: center;
    }
</style>

<form action="/action_page.php">
    <div class="container">

        <h1>Register new Student</h1>

        <p>Please fill in this form to create a new Student.</p>
        <hr>

        <label for="Student Id"><b>Student Id</b></label>
        <input type="text" placeholder="Student Id" name="Student Id" id="Student Id" required>

        <label for="Name"><b>Student Name</b></label>
        <input type="text" placeholder="Name" name="Name" id="Name" required>

        <label for="Last Name"><b>Student Last Name</b></label>
        <input type="text" placeholder="Last Name" name="Last Name" id="Last Name" required>

        <label for="email"><b>Student Email</b></label>
        <input type="text" placeholder="email" name="email" id="email" required>

        <label for="Phone"><b>Student Phone</b></label>
        <input type="text" placeholder="Phone" name="Phone" id="Phone" required>
        <hr>
      
        <button type="submit" class="registerbtn">Register</button>
    </div>

</form>